<%= link_to "Home", schools_path %><br>
<%= link_to "Edit #{@student.first_name}", edit_student_path %>
<h1><%= @student.full_name %></h1>

<p><%= link_to "Write a New Review, #{@student.first_name}!", new_review_path %></p>

<% if @student.reviews.count != 0 %>
  <h3>Past Reviews:</h3>

  <ol>
    <% @student.reviews.each do |review| %>
      <li><%= link_to review.school.name, "/schools/#{review.school.id}" %></li>
      <ul>
        <li><label for="rating">Rating:<%= review.rating %></label></li>
          <ul>
            <li><%= review.content %></li><br>
            <%= link_to "Edit Review", edit_review_path %>
          </ul>
      </ul><br>
    <% end %>
  </ol>
<% else %>
  <h3>No reviews.....yet.</h3>
<% end %>
