<!DOCTYPE html>
<html>
  <head>
    <title>RevURailsDraft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href=<%= '/revu' %>>Rev<span>U</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class=<%= "nav-link" %> href=<%= "/home" %>>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= schools_path %>>Schools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= new_student_path %>>Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= new_review_path %>>Write a Review</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Favorites
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/schools/1"><%= School.first.name %></a>
                <a class="dropdown-item" href="/schools/2"><%= School.second.name %></a>
                <a class="dropdown-item" href="/schools/3"><%= School.third.name %></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/schools">more schools</a>
              </div>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0"> -->
            <%= form_tag(search_page_path, :method => "get", class: "form-inline my-2 my-lg-0") do %>
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2"  %>
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              <%= button_tag "Search", :class => "btn btn-outline-success my-2 my-sm-0", :name => nil%>
            <% end %>
          <!-- </form> -->
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
